
:root {
  --default-font: "Stack Sans Text", sans-serif;
  --font-primary: "Noto Sans", sans-serif;
  --font-info:"Nunito Sans", sans-serif;
}

:root {
  --background-color: #f5f1ef;
  --default-color: #0D3B52;
  --color-white: #ffffff;
  --color-black:#000;
  --accent-color: #262626;
  --surface-color: #656161; 
  --contrast-color: #aaa;
  --nav-color: #ffffff;
  --nav-hover-color: #fa0101; 
  --nav-mobile-background-color: #03051f;
  --nav-dropdown-background-color: #fff; 
  --nav-dropdown-color: #000;
  --nav-dropdown-hover-color: #ffffff;
  --color-dropdown:#333;
  --color-primary: #000;
  --bs-light: #333;
  --bs-dark: #212020;
  --bs-light-blue:#e3f0ff;
  --bs-transition: 300ms ease;
  --transition: all 0.4s;
  --bs-light-text:#FFFFFFCC;
  --gradient: linear-gradient(#35344C, #605D88);
  --gradient-white: linear-gradient(rgb(255 255 255 / 21%) 60%, rgb(255 255 255) 100%);
  --color-default: #22b3fc;
  --nav-border:#404042;
  --border-light-gray-100:#bfbfbf;
  --purple-color:#5f249f;
}


:root {scroll-behavior: smooth;}
a {box-shadow: none;text-decoration: none;}
.font-14{font-size: 14px;}
.heading{font-family: var(--font-info); font-weight: 900; font-size: 2.75rem}
button:focus:not(:focus-visible) {box-shadow: none;}
body{ font-family: var(--font-info); font-weight: 500;background: var(--background-color);}
.login-wrapper {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #0250c5;
    background: -webkit-linear-gradient(bottom, rgb(0 0 0 / 75%), rgb(3 3 3 / 71%));
    background: -o-linear-gradient(bottom, rgb(0 0 0 / 75%), rgb(3 3 3 / 71%));
    background: -moz-linear-gradient(bottom, rgb(0 0 0 / 75%), rgb(3 3 3 / 71%));
    background: linear-gradient(bottom, rgb(0 0 0 / 75%), rgb(3 3 3 / 71%));
    position: relative;

}
.login-wrapper::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../images/loginbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.wrap-login100 {
    max-width: 500px;
    padding: 2rem;
    border: 1px solid rgb(255 255 255 / 20%);
    background: rgb(0 0 0 / 0%);
    border-radius: 0.5rem;
    backdrop-filter: blur(0px);
    box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}

.logo{font-family: "TimesTenBold", serif;}
.logo img {width: 140px; height: auto}
.loginform h4 {color: var(--color-white);}
.loginform .form-control{
    background:rgb(0 0 0 / 10%);
    color: var(--color-white);
    border:1px solid rgb(255 255 255 / 20%);
    backdrop-filter: blur(10px);
}
.loginform .form-control:focus{box-shadow: none; border-color: var(--color-white);}
.loginform .form-floating>label{ color: var(--color-white);}
.otpbtn{
    transition: all 0.6s;
    background: #da261e;
    color: var(--color-white);
    border: 0;
    padding: 15px 30px;
    border-radius: 0.25rem
}
.otpbtn:hover{background: #191c60}
.resent-text{color: #9f9f9f}
.headerlogo{border-right: 1px solid #f1f0f0;padding-right: 1rem;}
.headerlogo img{height: 70px;}
.navbar{}
.navmenu li{padding: 5px 5px;}
.navmenu li a {
    color: var(--accent-color) !important;
    font-weight: 600;
    transition: var(--transition);
}
.navmenu li a:hover:after,
.navmenu li a:hover{color: var(--nav-hover-color) !important}
.navmenu .dropdown ul li {
    padding: 10px 20px;
    text-transform: none;
    color: var(--color-black);
}
.navmenu li:last-child{padding-right: 0}
.navbar .nav-item .nav-link.dropdown-toggle::after{
  font-family: bootstrap-icons !important;
  content: "\f282";
  color: var(--color-black);
  vertical-align: middle;
  border-top: none;
  border-right: none;
  border-bottom: 0;
  border-left: none;
  transition: all 0.4s;
  will-change: right, opacity;
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.17, 0.46);
  animation: bounce 0.6s;
  -webkit-animation: bounce 0.6s;
  -moz-animation: bounce 0.6s;
  transform: rotate(0deg);
  font-size: 0.75rem;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}
.navlist{padding:0; margin: 0}
.navlist li{display: inline-flex; font-size: 14px; padding: 5px 0 5px;}
.navlist li a{color: var(--accent-color); position: relative; padding: 0 10px;transition: var(--transition);}

.navlist li a:hover{color: var(--nav-hover-color);}
.navlist li:first-child{padding-left: 0;}
.navlist li a:after{
    content: "";
    position: absolute;
    right: 0px;
    top: 4px;
    height: 14px;
    width: 1px;
    background: #939393;
}
.navlist li:last-child a::after {
    display: none;
}
.filterbtn{border:1px solid #eaeaea; border-radius: 0.30rem; padding: 5px 15px !important;}
.filterbtn:after{display: none;}
.lang{background: #f8524e; border-radius: 0.25rem; color: var(--color-white) !important;margin-left: 0.5rem;}
/* Icon 1 */

.animated-icon1,
.animated-icon2,
.animated-icon3 {
  width: 26px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {background: var(--color-black);}
.animated-icon1 span:nth-child(1) {top: 0px;}
.animated-icon1 span:nth-child(2) {top: 8px;}
.animated-icon1 span:nth-child(3) {top: 16px;}
.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {opacity: 0;left: -60px;}
.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}  
.logotext {color: #000;font-family: "Playfair Display", serif;}
.logotext h3{margin-bottom: 0.25rem; font-size: 1.60rem;}
.logotext h4{font-size: 15px;
    color: #ba8f46;
    font-weight: bold;}
.content-banner {
    position: relative;
    padding-top: 140px;
}
.content-banner-img{position: relative;}
.content-banner-img:before {
    content: "";
    display: block;
    width: 100%;
    height:550px;
    background: linear-gradient(rgb(0 0 0 / 73%), rgb(0 0 0 / 88%));
    position: absolute;
    bottom: 0;
    top:0;
    left: auto;
    right: 0;
    z-index: 1;
}
/*.selectbar{background-color: rgb(0 0 0 / 50%);padding: 15px 0;border: 1px solid rgb(255 255 255 / 10%)}
.selectbar .form-label{color: var(--contrast-color);}*/
.selectbar .form-select{ border: 1px solid #eaeaea; font-weight: 600; font-size: 15px}
.selectbar .form-select:focus{
    border-color: #eaeaea;
    outline: 0;
    box-shadow: none;
}  
/*.selectbar .form-select option{background: #000; color: var(--color-white);}*/
/*.selectbar .form-select{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}*/
.videoplayicon{    
    background: var(--color-white);
    min-width: 70px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #f8524e;
}
.video-card{background: var(--color-white); padding: 10px; border-radius: 0.25rem;box-shadow: 0px 4px 10px rgb(0 0 0 / 19%);
    width: 100%; transition: var(--transition); height: 100%}
.video-card:hover{transform: scale(1.1);z-index: 2; position: relative; height: 120%}  
.video-card .videocontent{position: relative;transition: var(--transition); visibility: hidden;display: none;} 
.video-card:hover .videocontent{visibility: visible; position: absolute;display: block;} 
.video-card p span{color: #6b6b6b;}
.video-card p{color: var(--accent-color); margin-bottom:0; font-size: 14px;}
.video-wrap{left: 10px;right: 10px; bottom: 10px;top: 10px;}
.statelist{margin: 0; padding: 0;}
.statelist li {color: var(--color-white);
    display: inline;
    text-transform: uppercase;
    padding-right: 1.25rem;
    position: relative;
    align-items: center;
    padding-left: 1.25rem;}
.statelist li:after{content: "\f287"; font-size: 10px; top:3px; position: absolute; left:0; color: #676767; font-family: bootstrap-icons;}
.mostviewlist{
    padding: 5px;
    background: var(--color-white);
    max-width: 440px;
    margin: 10px auto;
    border-radius: 0.5rem;
    text-align: center;
}
.mostviewlist li{display: inline-flex;}
.mostviewlist li a{color: var(--accent-color);text-decoration: none;padding: 5px 20px;font-weight: 700;border-radius: 0.25rem; transition: var(--transition);}
.mostviewlist li a.active,
.mostviewlist li a:hover{background: linear-gradient(to bottom, #f84c4a, #f8695e); color: var(--color-white);}
footer{background: var(--default-color);color: var(--color-white);font-family: var(--nav-font);}
.footer-menu{padding: 0; margin: 0}
.footer-menu li{list-style: none;display: inline-flex;padding: 0.25rem 1rem;}
.footer-menu li a{color: var(--color-white); text-decoration: none;}
.footer-menu li a:hover{    
    color: var(--color-white);;
    -webkit-text-decoration-color: var(--color-white);;
    -webkit-text-decoration-color: var(--color-white);;
    text-decoration-color: var(--color-white);;
    text-underline-offset: .375em;
    text-decoration: underline !important;}
.copy-right{border-top:1px solid #25556d}
.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #f8524e;
  width: 36px;
  height: 36px;
  border-radius: 0.25rem;
  transition: all 0.4s;
}

.scroll-top i {
  font-size: 24px;
  color: var(--color-white);
  line-height: 0;
}

.scroll-top:hover {
  background-color: #f8524e;
   color: var(--color-white);
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  bottom: 15px;
}

@media(min-width:992px){
    .dropdown:hover .dropdown-menu {display: block;}
}